<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Starbucks</key>
	<dict>
		<key>Food</key>
		<dict/>
		<key>Drinks</key>
		<dict>
			<key>Coffee</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Short</string>
					<string>Tall</string>
					<string>Grande</string>
					<string>Venti</string>
				</array>
				<key>Temperature</key>
				<array>
					<string>Hot</string>
					<string>Iced</string>
				</array>
				<key>Milk</key>
				<array>
					<string>None</string>
					<string>Soy</string>
					<string>Skim</string>
					<string>2%</string>
					<string>Whole</string>
				</array>
				<key>Sweetener</key>
				<array>
					<string>None</string>
					<string>Sugar</string>
					<string>Sugar-in-the-Raw</string>
					<string>Classic Syrup</string>
				</array>
				<key>Whip Cream</key>
				<array>
					<string>Yes</string>
					<string>No</string>
					<string>Light</string>
				</array>
				<key>Caffiene</key>
				<array>
					<string>Regular</string>
					<string>Decaf</string>
					<string>Half-caf</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Pike Place Roast</string>
					<string>Bold Pick of the Day</string>
					<string>Clover® Brewed Coffee (only available at select locations)</string>
					<string>Caffe Misto</string>
				</array>
			</dict>
			<key>Bottled Drinks</key>
			<dict>
				<key>Drink</key>
				<array>
					<string>Starbucks Doubleshot® Energy+Cinnamon Dolce Drink</string>
					<string>Starbucks Doubleshot® Energy+Coffee Drink</string>
					<string>Starbucks Doubleshot® Energy+Mocha Drink</string>
					<string>Starbucks Doubleshot® Energy+Vanilla Drink</string>
					<string>Starbucks Doubleshot® Espresso Drink</string>
					<string>Starbucks Doubleshot® Light Espresso Drink</string>
					<string>Starbucks® Bottled Coffee Frappuccino® Coffee Drink</string>
					<string>Starbucks® Bottled Dark Chocolate Mocha Frappuccino® Coffee Drink</string>
					<string>Starbucks® Bottled Mocha Frappuccino® Coffee Drink</string>
					<string>Starbucks® Bottled Vanilla Frappuccino® Coffee Drink</string>
				</array>
			</dict>
			<key>Vivanno Smoothies</key>
			<dict>
				<key>Temperature</key>
				<array>
					<string>Iced</string>
				</array>
				<key>Milk</key>
				<array>
					<string>None</string>
					<string>Soy</string>
					<string>Skim</string>
					<string>2%</string>
					<string>Whole</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Chocolate</string>
					<string>Orange Mango</string>
					<string>Strawberry</string>
				</array>
			</dict>
			<key>Kids&apos; Drinks &amp; Others</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Short</string>
					<string>Tall</string>
					<string>Grande</string>
					<string>Venti</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Caramal Apple Spice</string>
					<string>Cold Apple Juice</string>
					<string>Flavored Steamed Milk</string>
					<string>Milk</string>
					<string>Steamed Apple Juice</string>
				</array>
			</dict>
			<key>Tazo Teas</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Short</string>
					<string>Tall</string>
					<string>Grande</string>
					<string>Venti</string>
				</array>
				<key>Temperature</key>
				<array>
					<string>Hot</string>
					<string>Iced</string>
				</array>
				<key>Milk</key>
				<array>
					<string>None</string>
					<string>Soy</string>
					<string>Skim</string>
					<string>2%</string>
					<string>Whole</string>
				</array>
				<key>Sweetener</key>
				<array>
					<string>None</string>
					<string>Sugar</string>
					<string>Sugar-in-the-Raw</string>
					<string>Classic Syrup</string>
				</array>
				<key>Caffiene</key>
				<array>
					<string>Regular</string>
					<string>Decaf</string>
					<string>Half-caf</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Awake™ Brewed Tea</string>
					<string>Awake™ Tea Latte</string>
					<string>Black Shaken Iced Tea (iced only)</string>
					<string>Black Shaken Iced Tea Lemonade (iced only)</string>
					<string>Calm™ Brewed Tea</string>
					<string>Chai Tea Latte</string>
					<string>China Green Tips Brewed Tea</string>
					<string>Earl Grey Brewed Tea</string>
					<string>Earl Grey Tea Latte</string>
					<string>Green Tea Latte</string>
					<string>Orange Blossom Brewed Tea</string>
					<string>Passion™ Brewed Tea</string>
					<string>Refresh™ Brewed Tea</string>
					<string>Shaken Iced Green Tea (iced only)</string>
					<string>Shaken Iced Green Tea Lemonade (iced only)</string>
					<string>Shaken Iced Passion Tea (iced only)</string>
					<string>Shaken Iced Passion Tea Lemonade (iced only)</string>
					<string>Vanilla Rooibos Brewed Tea</string>
					<string>Vanilla Rooibos Tea Latte</string>
					<string>Zen™ Brewed Tea</string>
				</array>
			</dict>
			<key>Chocolate Beverages</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Short</string>
					<string>Tall</string>
					<string>Grande</string>
					<string>Venti</string>
				</array>
				<key>Temperature</key>
				<array>
					<string>Hot</string>
				</array>
				<key>Milk</key>
				<array>
					<string>None</string>
					<string>Soy</string>
					<string>Skim</string>
					<string>2%</string>
					<string>Whole</string>
				</array>
				<key>Whip Cream</key>
				<array>
					<string>Yes</string>
					<string>No</string>
					<string>Light</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Hot Chocolate</string>
					<string>Salted Caramel Hot Chocolate</string>
					<string>White Hot Chocolate</string>
				</array>
			</dict>
			<key>Espresso</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Short</string>
					<string>Tall</string>
					<string>Grande</string>
					<string>Venti</string>
				</array>
				<key>Temperature</key>
				<array>
					<string>Hot</string>
					<string>Iced</string>
				</array>
				<key>Milk</key>
				<array>
					<string>None</string>
					<string>Soy</string>
					<string>Skim</string>
					<string>2%</string>
					<string>Whole</string>
				</array>
				<key>Sweetener</key>
				<array>
					<string>None</string>
					<string>Sugar</string>
					<string>Sugar-in-the-Raw</string>
					<string>Classic Syrup</string>
				</array>
				<key>Whip Cream</key>
				<array>
					<string>Yes</string>
					<string>No</string>
					<string>Light</string>
				</array>
				<key>Caffiene</key>
				<array>
					<string>Regular</string>
					<string>Decaf</string>
					<string>Half-caf</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Caffe Americano</string>
					<string>Caffe Latte</string>
					<string>Clover® Brewed Coffee (only available at select locations)</string>
					<string>Caffe Mocha</string>
					<string>Cappuccino</string>
					<string>Caramel Macchiato</string>
					<string>Cinnamon Dolce Latte</string>
					<string>Latte</string>
					<string>Flavored Latte</string>
					<string>Peppermint Mocha</string>
					<string>Peppermint White Chocolate Mocha</string>
					<string>White Chocolate Mocha</string>
					<string>Skinny Flavored Latte</string>
					<string>Skinny Cinnamon Dolce Latte</string>
					<string>Eggnog Latte (seasonal)</string>
					<string>Pumpkin Spice Latte (seasonal)</string>
					<string>Toffee Mocha (seasonal)</string>
					<string>Gingerbread Latte (seasonal)</string>
				</array>
			</dict>
			<key>Frappuccino Blended Beverages</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Short</string>
					<string>Tall</string>
					<string>Grande</string>
					<string>Venti</string>
				</array>
				<key>Milk</key>
				<array>
					<string>None</string>
					<string>Soy</string>
					<string>Skim</string>
					<string>2%</string>
					<string>Whole</string>
				</array>
				<key>Whip Cream</key>
				<array>
					<string>Yes</string>
					<string>No</string>
					<string>Light</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Caffe Vanilla</string>
					<string>Caffe Vanilla Light</string>
					<string>Caramel</string>
					<string>Caramel Light</string>
					<string>Cinnamon Dolce Crème</string>
					<string>Cinnamon Dolce</string>
					<string>Cinnamon Dolce Light</string>
					<string>Coffee</string>
					<string>Coffee Light</string>
					<string>Double Chocolaty Chip</string>
					<string>Espresso</string>
					<string>Extra Coffee Caramel</string>
					<string>Java Chip</string>
					<string>Java Chip Light</string>
					<string>Mocha</string>
					<string>Mocha Light</string>
					<string>Pumpkin Spice Crème</string>
					<string>Pumpkin Spice</string>
					<string>Strawberries and Crème</string>
					<string>Tazo Chai Crème</string>
					<string>Tazo Green Tea Crème</string>
					<string>Toffee Mocha</string>
					<string>Toffee Mocha Light</string>
					<string>Vanilla Bean Crème</string>
					<string>White Chocolate Crème</string>
					<string>White Chocolate Mocha</string>
				</array>
			</dict>
			<key>Espresso Plain</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Solo 1 oz</string>
					<string>Doppio 2 oz</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Espresso (no whip)</string>
					<string>Espresso Macchiato (no whip)</string>
					<string>Espresso Con Panna (has whip cream)</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Dunkin Donuts</key>
	<dict>
		<key>Food</key>
		<dict>
			<key>Wraps</key>
			<dict>
				<key>Wrap Type</key>
				<array>
					<string>Egg and Cheese</string>
					<string>Bacon, Egg and Cheese</string>
					<string>Ketchup</string>
					<string>Mayo</string>
					<string>Pepper</string>
					<string>Mustard</string>
					<string>Salt</string>
				</array>
			</dict>
			<key>Breakfast Sandwiches</key>
			<dict>
				<key>Condiments</key>
				<array>
					<string>Ketchup</string>
					<string>Mayo</string>
					<string>Pepper</string>
					<string>Mustard</string>
					<string>Salt</string>
				</array>
				<key>On What?</key>
				<array>
					<string>Bagel</string>
					<string>Croissant</string>
					<string>English Muffin</string>
					<string>Biscuit</string>
				</array>
				<key>Sandwich Type</key>
				<array>
					<string>Egg and Cheese</string>
					<string>Egg and Cheese with Bacon</string>
					<string>Egg and Cheese with Sausage</string>
					<string>Egg and Cheese with Ham</string>
					<string>Sausage</string>
				</array>
			</dict>
			<key>Hash Browns</key>
			<dict>
				<key>Condiments</key>
				<array>
					<string>Ketchup</string>
					<string>Mayo</string>
					<string>Pepper</string>
					<string>Mustard</string>
					<string>Salt</string>
				</array>
			</dict>
			<key>Flatbread</key>
			<dict>
				<key>Flavor</key>
				<array>
					<string>Egg White, Veggie &amp; Cheese</string>
					<string>Egg White, Turkey Sausage &amp; Cheese</string>
					<string>Grilled Cheese</string>
					<string>Ham &amp; Cheese</string>
					<string>Turkey, Chedder &amp; Bacon</string>
					<string>Chicken Parmesan</string>
				</array>
			</dict>
			<key>Bagels</key>
			<dict>
				<key>On The Side</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Topping</key>
				<array>
					<string>None</string>
					<string>Cream Cheese</string>
					<string>Reduced Fat Blueberry</string>
					<string>Reduced Fat Plain</string>
					<string>Reduced Fat Smoked Salmon</string>
					<string>Reduced Fat Strawberry</string>
					<string>Reduced Fat Veggie</string>
					<string>Grape Jam</string>
					<string>Peanut Butter</string>
					<string>Butter</string>
					<string>Strawberry Jam</string>
				</array>
				<key>Toasted</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Flavor</key>
				<array>
					<string>Plain</string>
					<string>Sesame</string>
					<string>Poppyseed</string>
					<string>Everything</string>
					<string>Salt</string>
					<string>Garlic</string>
					<string>Cinnamon Raisin</string>
					<string>Multigrain</string>
					<string>Wheat</string>
					<string>Onion</string>
					<string>Sour Cream and Onion</string>
					<string>Mixed (only if quantity &gt; 1)</string>
				</array>
			</dict>
			<key>Cookies &amp; Other Baked Items</key>
			<dict>
				<key>Flavor</key>
				<array>
					<string>Brownie</string>
					<string>Chocolate Chunk Cookie</string>
					<string>Oatmeal Raisin Cookie</string>
				</array>
			</dict>
			<key>Fancies</key>
			<dict>
				<key>Butter</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Heated</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Flavor</key>
				<array>
					<string>Apple Fritter</string>
					<string>Coffee Roll</string>
					<string>Éclair</string>
					<string>Long John</string>
					<string>Bowtie</string>
				</array>
			</dict>
			<key>Muffins</key>
			<dict>
				<key>Butter</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Heated</key>
				<array>
					<string>No</string>
					<string>Yes</string>
				</array>
				<key>Flavor</key>
				<array>
					<string>Reduced Fat Blueberry</string>
					<string>Corn</string>
					<string>Chocolate Chip</string>
					<string>Bran</string>
					<string>Coffee Cake</string>
					<string>Blueberry</string>
				</array>
			</dict>
			<key>Danish</key>
			<dict>
				<key>Flavor</key>
				<array>
					<string>Apple</string>
					<string>Cheese</string>
					<string>Strawberry Cheese</string>
				</array>
			</dict>
			<key>Donut Sticks</key>
			<dict>
				<key>Flavor</key>
				<array>
					<string>Cinnamon</string>
					<string>Glazed</string>
					<string>Chocolate Glazed</string>
					<string>Jelly Filled</string>
					<string>Plain Cake</string>
					<string>Powdered</string>
				</array>
			</dict>
			<key>Munchkins™</key>
			<dict>
				<key>Flavor</key>
				<array>
					<string>Cinnamon</string>
					<string>Glazed</string>
					<string>Chocolate Glazed</string>
					<string>Mixed</string>
					<string>Powdered</string>
					<string>Jelly Filled</string>
					<string>Sugar Raised</string>
				</array>
			</dict>
			<key>Donuts</key>
			<dict>
				<key>Flavor</key>
				<array>
					<string>Strawberry Sprinkles</string>
					<string>Chocolate Glazed</string>
					<string>Powdered</string>
					<string>Sugar Raised</string>
					<string>Rainbow Sprinkles</string>
					<string>Chocolate Frosted</string>
					<string>Old Fashioned</string>
					<string>Glazed</string>
					<string>Blueberry Frosted</string>
					<string>Marble Frosted</string>
					<string>Cinnamon</string>
					<string>French Cruller</string>
					<string>Boston Crème</string>
					<string>Apple and Spice</string>
					<string>Jelly</string>
					<string>Toffee For Your Coffee</string>
				</array>
			</dict>
		</dict>
		<key>Drinks</key>
		<dict>
			<key>Turbo Shot</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
					<string>Extra Large</string>
				</array>
			</dict>
			<key>Hot Chocolate</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
				</array>
			</dict>
			<key>Dunkaccino</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
				</array>
			</dict>
			<key>Coolata</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
					<string>Extra Large</string>
				</array>
				<key>Milk</key>
				<array>
					<string>None</string>
					<string>Skim</string>
					<string>Regular</string>
					<string>Cream</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Vanilla Bean</string>
					<string>Coffee</string>
					<string>Tropicana Orange</string>
					<string>Strawberry</string>
				</array>
			</dict>
			<key>Coffee</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
					<string>Extra Large</string>
				</array>
				<key>Temperature</key>
				<array>
					<string>Hot</string>
					<string>Cold</string>
				</array>
				<key>Milk</key>
				<array>
					<string>None</string>
					<string>Skim</string>
					<string>Regular</string>
					<string>Cream</string>
				</array>
				<key>Sweetener</key>
				<array>
					<string>None</string>
					<string>Sugar</string>
					<string>Splenda</string>
				</array>
				<key>Caffiene</key>
				<array>
					<string>Regular</string>
					<string>Decaf</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Blueberry</string>
					<string>Caramel</string>
					<string>Cinnamon</string>
					<string>Hazelnut</string>
					<string>Raspberry</string>
					<string>Toasted Almond</string>
					<string>French Vanilla</string>
					<string>Coconut</string>
					<string>Pumpkin</string>
					<string>Mocha</string>
					<string>Gingerbread (seasonal)</string>
					<string>Dunkin&apos; Dark Roast (iced only)</string>
				</array>
			</dict>
			<key>Espresso Drinks</key>
			<dict>
				<key>Sweetener</key>
				<array>
					<string>None</string>
					<string>Sugar</string>
					<string>Splenda</string>
				</array>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
				</array>
				<key>Temperature</key>
				<array>
					<string>Hot</string>
					<string>Cold</string>
				</array>
				<key>Milk</key>
				<array>
					<string>None</string>
					<string>Skim</string>
					<string>Regular</string>
				</array>
				<key>Caffiene</key>
				<array>
					<string>Regular</string>
					<string>Decaf</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Espresso</string>
					<string>Latte</string>
					<string>Cappuccino</string>
					<string>Mocha Spice Latte</string>
					<string>Vanilla Latte</string>
					<string>Mocha Raspberry Latte</string>
					<string>Caramel Swirl Latte</string>
					<string>Mocha Swirl Latte</string>
					<string>Latte Lite</string>
					<string>Vanilla Latte Lite</string>
					<string>Pumpkin Latte (seasonal)</string>
					<string>Gingerbread Latte (seasonal)</string>
					<string>Caramel Apple (seasonal)</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Generic</key>
	<dict>
		<key>Drinks</key>
		<dict>
			<key>Coffee</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
					<string>Extra Large</string>
				</array>
				<key>Temperature</key>
				<array>
					<string>Hot</string>
					<string>Cold</string>
				</array>
				<key>Milk</key>
				<array>
					<string>Soy</string>
					<string>None</string>
					<string>2%</string>
					<string>Skim</string>
					<string>Whole</string>
					<string>Cream</string>
				</array>
				<key>Whip Cream</key>
				<array>
					<string>Yes</string>
					<string>No</string>
					<string>Light</string>
				</array>
				<key>Sweetener</key>
				<array>
					<string>None</string>
					<string>Sugar</string>
					<string>Splenda</string>
					<string>Simple Syrup</string>
					<string>Sweet &amp; Low</string>
					<string>Nutrisweet</string>
				</array>
				<key>Caffiene</key>
				<array>
					<string>Regular</string>
					<string>Decaf</string>
					<string>Half-caf</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Brewed Coffee</string>
					<string>Flavored Coffee (please specify)</string>
				</array>
			</dict>
			<key>Tea</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
					<string>Extra Large</string>
				</array>
				<key>Temperature</key>
				<array>
					<string>Hot</string>
					<string>Cold</string>
				</array>
				<key>Milk</key>
				<array>
					<string>Soy</string>
					<string>None</string>
					<string>2%</string>
					<string>Skim</string>
					<string>Whole</string>
					<string>Cream</string>
				</array>
				<key>Whip Cream</key>
				<array>
					<string>Yes</string>
					<string>No</string>
					<string>Light</string>
				</array>
				<key>Sweetener</key>
				<array>
					<string>None</string>
					<string>Sugar</string>
					<string>Splenda</string>
					<string>Simple Syrup</string>
					<string>Sweet &amp; Low</string>
					<string>Nutrisweet</string>
				</array>
				<key>Caffiene</key>
				<array>
					<string>Regular</string>
					<string>Decaf</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Black Tea</string>
					<string>Green Tea</string>
				</array>
			</dict>
			<key>Espresso Drinks</key>
			<dict>
				<key>Sweetener</key>
				<array>
					<string>None</string>
					<string>Sugar</string>
					<string>Splenda</string>
					<string>Simple Syrup</string>
					<string>Sweet &amp; Low</string>
					<string>Nutrisweet</string>
				</array>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
				</array>
				<key>Temperature</key>
				<array>
					<string>Hot</string>
					<string>Cold</string>
				</array>
				<key>Milk</key>
				<array>
					<string>None</string>
					<string>Skim</string>
					<string>Regular</string>
					<string>Soy</string>
				</array>
				<key>Caffiene</key>
				<array>
					<string>Regular</string>
					<string>Decaf</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Americano</string>
					<string>Latte</string>
					<string>Mocha</string>
					<string>Cappuccino</string>
					<string>Caramel Macchiato</string>
					<string>Au Lait</string>
					<string>Flavored Latte (please specify)</string>
					<string>Espresso</string>
					<string>Espresso Macchiato</string>
					<string>Espresso Con Panna</string>
				</array>
			</dict>
		</dict>
	</dict>
	<key>Bad Ass</key>
	<dict>
		<key>Drinks</key>
		<dict>
			<key>Coffee Drinks</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
					<string>Extra Large</string>
				</array>
				<key>Temperature</key>
				<array>
					<string>Hot</string>
					<string>Cold</string>
				</array>
				<key>Milk</key>
				<array>
					<string>None</string>
					<string>Whole Milk</string>
					<string>1/2 &amp; 1/2</string>
					<string>Cream</string>
				</array>
				<key>Sweetener</key>
				<array>
					<string>None</string>
					<string>Sugar</string>
					<string>Splenda</string>
				</array>
				<key>Whip Cream</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Caffiene</key>
				<array>
					<string>Regular</string>
					<string>Decaf</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Americano</string>
					<string>Au Lait</string>
					<string>Black Widow</string>
					<string>Brew Coffee</string>
					<string>Cappuccino (dry)</string>
					<string>Cappuccino (wet)</string>
					<string>Con Leche</string>
					<string>Eggnog Latte</string>
					<string>Eye Opener</string>
					<string>Frosted Kona</string>
					<string>Koffee Kooler</string>
					<string>Café Latte</string>
					<string>Café Latte Breve</string>
				</array>
			</dict>
			<key>Signature Blended Lattes</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
					<string>Extra Large</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Almond Mocha</string>
					<string>Appie Pie</string>
					<string>Bad Ass Mocha</string>
					<string>Black Forest</string>
					<string>Caramel Kreme De Kona</string>
					<string>Caramel Vanilla Latte</string>
					<string>Caramel Wave</string>
					<string>Coconut Mocha</string>
					<string>Grasshopper</string>
					<string>Haole&apos;s Memehune</string>
					<string>Haole&apos;s Revenge</string>
					<string>Hawaiian Sunrise</string>
					<string>Jitter Juice</string>
					<string>Kreme De Kona</string>
					<string>Lava Java Mocha</string>
					<string>Macaroon</string>
					<string>Memehune Mocha</string>
					<string>Monkey Mocha</string>
					<string>Nutty Irishman</string>
					<string>Onolicious Mocha</string>
					<string>Oodalolly</string>
					<string>Pecan Pie</string>
					<string>Snickerlicious</string>
					<string>Toffee Bar</string>
					<string>Vanilla Nut</string>
				</array>
			</dict>
			<key>Espresso</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
					<string>Extra Large</string>
				</array>
				<key>Temperature</key>
				<array>
					<string>Hot</string>
				</array>
				<key>Sweetener</key>
				<array>
					<string>None</string>
					<string>Sugar</string>
				</array>
				<key>Whip Cream</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Caffiene</key>
				<array>
					<string>Regular</string>
					<string>Decaf</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Cubano 1 Ristretto Shot</string>
					<string>Espresso 1 Ristretto Shot</string>
					<string>Espresso Conpana 1 Ristretto shot</string>
					<string>Macchiato 2 Ristretto Shot</string>
					<string>Slammer 2 Ristretto Shot</string>
					<string>Slammer</string>
				</array>
			</dict>
			<key>Signature Lattes</key>
			<dict>
				<key>Size</key>
				<array>
					<string>Small</string>
					<string>Medium</string>
					<string>Large</string>
					<string>Extra Large</string>
				</array>
				<key>Temperature</key>
				<array>
					<string>Hot</string>
					<string>Cold</string>
				</array>
				<key>Milk</key>
				<array>
					<string>Whole Milk</string>
				</array>
				<key>Sweetener</key>
				<array>
					<string>None</string>
					<string>Sugar</string>
				</array>
				<key>Whip Cream</key>
				<array>
					<string>Yes</string>
					<string>No</string>
				</array>
				<key>Caffiene</key>
				<array>
					<string>Regular</string>
					<string>Decaf</string>
				</array>
				<key>Drink</key>
				<array>
					<string>Dark Chocolate Mocha</string>
					<string>Caramel Wave</string>
					<string>Caramel Vanilla Latte</string>
					<string>Caramel Kreme De Kona</string>
					<string>Haole&apos;s Memehune</string>
					<string>Bad Ass Mocha</string>
					<string>Coconut Mocha</string>
					<string>Grasshopper</string>
					<string>Haole&apos;s Memehune</string>
					<string>Haole&apos;s Revenge</string>
					<string>Jitter Juice</string>
					<string>Hawaiian Sunrise</string>
					<string>Kreme De Kona</string>
					<string>Jitter Juice</string>
					<string>Kreme De Kona</string>
					<string>Java Mocha</string>
					<string>Macaroon</string>
					<string>Onolicious Mocha</string>
					<string>Snickerlicious</string>
					<string>White Chocolate Mocha</string>
					<string>Monkey Mocha</string>
					<string>Nutty Irishman</string>
					<string>Lava Java Mocha</string>
					<string>Memehune Mocha</string>
					<string>Onolicious Mocha</string>
					<string>Oodalolly</string>
					<string>Pecan Pie</string>
					<string>Toffee Bar</string>
					<string>Vanilla Nut</string>
				</array>
			</dict>
			<key>Non-Coffee Drinks</key>
			<dict>
				<key>Drink</key>
				<array>
					<string>Carmalapala</string>
					<string>Chai Latte</string>
					<string>Blended Chai Latte</string>
					<string>Hot Chocolate</string>
					<string>Italian Soda</string>
					<string>Sugar Free Italian Soda</string>
					<string>Italian Soda Cremosa</string>
					<string>Sugar Free Italian Soda Cremosa</string>
					<string>Polar Bear</string>
					<string>Steamer</string>
				</array>
			</dict>
			<key>Smoothies</key>
			<dict>
				<key>Drink</key>
				<array>
					<string>Strawberry Banana</string>
					<string>Wild Berry Desire</string>
					<string>Mango Fusion</string>
					<string>Strawberry Sensation</string>
					<string>Peachy Keen</string>
				</array>
			</dict>
			<key>Tea</key>
			<dict>
				<key>Drink</key>
				<array>
					<string>Black Tea</string>
					<string>Chamomile Tea</string>
					<string>Herbal Tea</string>
				</array>
			</dict>
			<key>Coffee</key>
			<dict>
				<key>Drink</key>
				<array>
					<string>100% Pure Kona</string>
					<string>Signature Blend of the Day</string>
					<string>Flavor of the Day</string>
					<string>Half Ass</string>
					<string>Swiss Water Decaf</string>
					<string>Café Au Lait</string>
					<string>Café Au Kona</string>
				</array>
			</dict>
			<key>Espresso Drinks</key>
			<dict>
				<key>Drink</key>
				<array>
					<string>Americano</string>
					<string>Eye Opener</string>
					<string>Black Widow</string>
					<string>Bad Ass Mocha</string>
					<string>Café Mocha</string>
					<string>Cappuccino</string>
					<string>Café Latte</string>
					<string>Breve</string>
					<string>Soy Latte</string>
					<string>Signature Latte&apos;s</string>
				</array>
			</dict>
			<key>Cold Drinks</key>
			<dict>
				<key>Drink</key>
				<array>
					<string>Granita</string>
					<string>Blended Signature Drinks</string>
					<string>Fruit Smoothie</string>
					<string>Italian Soda</string>
					<string>Cremosa</string>
					<string>Soda</string>
					<string>Bad Ass Bottled Water</string>
				</array>
			</dict>
			<key>Hot Drinks</key>
			<dict>
				<key>Drink</key>
				<array>
					<string>Oregon Chai Latte</string>
					<string>Hot Chocolate</string>
					<string>Polar Bear</string>
					<string>Steamer</string>
					<string>Hot Tea</string>
				</array>
			</dict>
			<key>Traditional Lattes</key>
			<dict>
				<key>Drink</key>
				<array>
					<string>Almond Joy Coconut, Almond and Dark Chocolate</string>
					<string>Apple Pie Apple and Cinnamon</string>
					<string>Macaroon Vanilla and Coconut</string>
					<string>Mars Bar White Chocolate, Dark Chocolate, and Caramel</string>
					<string>Milky Way Dark Chocolate, Caramel, and Vanilla</string>
					<string>Mounds Dark Chocolate and Coconut</string>
					<string>Nutty Irishman Irish Cream and Hazelnut</string>
					<string>Pecan Pie Pralines and Caramel</string>
					<string>Snickers Bar Dark Chocolate, Caramel, and Hazelnut</string>
					<string>Toffee Bar Dark Chocolate, English Toffee, and Hazelnut</string>
					<string>Whethers Original Caramel, English Toffee, and Vanilla</string>
				</array>
			</dict>
			<key>Treats</key>
			<dict>
				<key>Drink</key>
				<array>
					<string>Muffin</string>
					<string>Cookie</string>
					<string>Cinnamon Roll</string>
					<string>Bagel</string>
					<string>Cheesecake</string>
					<string>Assorted Pies and Pastries</string>
					<string>Carrot Cake</string>
					<string>Biscotti</string>
					<string>Rock Star Energy Drink</string>
					<string>Coffee Candy Bars</string>
					<string>Chocolate Covered Espresso Beans</string>
				</array>
			</dict>
			<key>Breakfast Sandwiches</key>
			<dict>
				<key>Drink</key>
				<array>
					<string>Served on Croissants or Bagels</string>
					<string>Turkey</string>
					<string>Bacon, Egg and Cheese</string>
					<string>Sausage, Egg and Cheese</string>
					<string>Ham, Egg and Cheese</string>
				</array>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
